<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.infineon.cv"
         name="CV projects"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            id="com.infineon.cv.projectTypeABootcode"
            isAbstract="false"
            name="Bootcode"
            projectMacroSupplier="com.infineon.cv.includes.bootcodeMacro4include">
         <configuration
               id="com.infineon.cv.configurationBootcode"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChainBootcode31"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainRVDS31">
               <targetPlatform
                     id="com.infineon.cv.targetPlatformBootcode31"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builderBootcode31"
                     isAbstract="false"
                     isVariableCaseSensitive="false"
                     superClass="com.infineon.cv.builderAll">
               </builder>
               <tool
                     id="com.infineon.cv.tool_Bootcode31"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolBootcode31">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            id="com.infineon.cv.projectTypeBHades"
            isAbstract="false"
            name="Testcase"
            projectMacroSupplier="com.infineon.cv.includes.testcaseMacro4include">
         <configuration
               id="com.infineon.cv.configuration.hadesGnumake"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChain.hadesGnumake"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainHades">
               <targetPlatform
                     id="com.infineon.cv.targetPlatform.hadesGnumake"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builder.hadesGnumake"
                     isAbstract="false"
                     superClass="com.infineon.cv.builderAll">
               </builder>
               <tool
                     id="com.infineon.cv.tool.hadesGnumake"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolHades">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               id="com.infineon.cv.configuration.hadesMake"
               parent="com.infineon.cv.configurationIFXMake2Hades">
            <toolChain
                  id="com.infineon.cv.toolChain.HadesMake"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainHades">
               <targetPlatform
                     id="com.infineon.cv.targetPlatform.HadesMake"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builder.hadesMake"
                     isAbstract="false"
                     superClass="com.infineon.cv.builderHadesMake">
               </builder>
               <tool
                     id="com.infineon.cv.tool.hadesMake"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolHades">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               id="com.infineon.cv.configuration.hadesCompile"
               parent="com.infineon.cv.configurationHadesCompile">
            <toolChain
                  id="com.infineon.cv.toolChain.hadesCompile"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainHades">
               <targetPlatform
                     id="com.infineon.cv.targetPlatform.hadesCompile"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builder.hadesCompile"
                     isAbstract="false"
                     superClass="com.infineon.cv.builderHadesCompile">
               </builder>
               <tool
                     id="com.infineon.cv.tool.hadesCompile"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolHades">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               id="com.infineon.cv.configuration.hadesRun"
               parent="com.infineon.cv.configurationHadesRun">
            <toolChain
                  id="com.infineon.cv.toolChain.HadesRun"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainHades">
               <targetPlatform
                     id="com.infineon.cv.targetPlatform.HadesRun"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builder.hadesRun"
                     isAbstract="false"
                     superClass="com.infineon.cv.builderHadesRun">
               </builder>
               <tool
                     id="com.infineon.cv.tool.hadesRun"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolHades">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            id="com.infineon.cv.projectTypeCHadesLib"
            isAbstract="false"
            name="Library"
            projectMacroSupplier="com.infineon.cv.includes.testcaseMacro4include">
         <configuration
               id="com.infineon.cv.configuration.hadesLibGnumake"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChain.hadesLibGnumake"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainHades">
               <targetPlatform
                     id="com.infineon.cv.targetPlatform.hadesLibGnumake"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builder.hadesLibGnumake"
                     isAbstract="false"
                     superClass="com.infineon.cv.builderLib">
               </builder>
               <tool
                     id="com.infineon.cv.toolhadesLibGnumake"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolHades">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            id="com.infineon.cv.projectTypeDTestcase"
            isAbstract="false"
            isTest="false"
            name="CV TestCase"
            projectMacroSupplier="com.infineon.cv.includes.testcaseMacro4include">
         <configuration
               id="com.infineon.cv.configurationCVTC31"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChainCVTC31"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainRVDS31">
				<targetPlatform
          id="com.infineon.cv.targetplatformCVTC31"
          isAbstract="false"
          superClass="com.infineon.cv.targetPlatform">
				</targetPlatform>
				<builder
          id="com.infineon.cv.builderCVTC31"
          isAbstract="false"
          superClass="com.infineon.cv.builderAll">
				</builder>
				<tool
          id="com.infineon.cv.tool_CVTC31"
          isAbstract="false"
          superClass="com.infineon.cv.toolCVTC31">
					<inputType
           id="com.infineon.cv.inputType_CVTC31"
           superClass="com.infineon.cv.inputTypeCVTC31"/>
     
				</tool>
            </toolChain>
         </configuration>
         <configuration
               id="com.infineon.cv.configurationCVTC22"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChainCVTC22"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainRVDS22">
               <targetPlatform
                     id="com.infineon.cv.targetplatformCVTC22"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builderCVTC22"
                     isAbstract="false"
                     superClass="com.infineon.cv.builderAll">
               </builder>
               <tool
                     id="com.infineon.cv.tool_CVTC22"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolCVTC22">
                  <inputType
                        id="com.infineon.cv.inputType_CVTC22"
                        superClass="com.infineon.cv.inputTypeCVTC22">
                  </inputType>
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            id="com.infineon.cv.projectTypeELibrary"
            isAbstract="false"
            isTest="false"
            name="CV Library"
            projectMacroSupplier="com.infineon.cv.includes.testcaseMacro4include">
         <configuration
               id="com.infineon.cv.configurationCVLib31"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChainCVLib31"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainRVDS31">
               <targetPlatform
                     id="com.infineon.cv.targetPlatformCVLib31"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builderCVLib31"
                     isAbstract="false"
                     isVariableCaseSensitive="false"
                     superClass="com.infineon.cv.builderLib">
               </builder>
               <tool
                     id="com.infineon.cv.tool_CVLib31"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolCVTC31">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               id="com.infineon.cv.configurationCVLib22"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChainCVLib22"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainRVDS22">
               <targetPlatform
                     id="com.infineon.cv.targetPlatformCVLib22"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builderCVLib22"
                     isAbstract="false"
                     isVariableCaseSensitive="false"
                     superClass="com.infineon.cv.builderLib">
               </builder>
               <tool
                     id="com.infineon.cv.tool_CVLib22"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolCVTC22">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            id="com.infineon.cv.projectTypeFMemloader"
            isAbstract="false"
            name="CV Memloader"
            projectMacroSupplier="com.infineon.cv.includes.memloaderMacro4include">
         <configuration
               id="com.infineon.cv.configurationCVMem31"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChainCVMem31"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainRVDS31">
               <targetPlatform
                     id="com.infineon.cv.targetPlatformCVMem31"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builderCVMem31"
                     isAbstract="false"
                     isVariableCaseSensitive="false"
                     superClass="com.infineon.cv.builderAll">
               </builder>
               <tool
                     id="com.infineon.cv.tool_CVMem31"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolCVMem31">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            id="com.infineon.cv.projectTypeGURFET"
            isAbstract="false"
            name="CV URFET"
            projectMacroSupplier="com.infineon.cv.includes.URFETMacro4include">
         <configuration
               id="com.infineon.cv.configurationURFET"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChainURFET22"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainRVDS22">
               <targetPlatform
                     id="com.infineon.cv.targetPlatformURFET22"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builderURFET22"
                     isAbstract="false"
                     isVariableCaseSensitive="false"
                     superClass="com.infineon.cv.builderAll">
               </builder>
               <tool
                     id="com.infineon.cv.tool_URFET22"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolURFET22">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            id="com.infineon.cv.projectTypeHCrypto"
            isAbstract="false"
            name="CV Crypto"
            projectMacroSupplier="com.infineon.cv.includes.testcaseMacro4include">
         <configuration
               id="com.infineon.cv.configurationCrypto22"
               parent="com.infineon.cv.configurationDefault">
            <toolChain
                  id="com.infineon.cv.toolChainCrypto22"
                  isAbstract="false"
                  superClass="com.infineon.cv.toolChainRVDS22">
               <targetPlatform
                     id="com.infineon.cv.targetPlatformCrypto22"
                     isAbstract="false"
                     superClass="com.infineon.cv.targetPlatform">
               </targetPlatform>
               <builder
                     id="com.infineon.cv.builderCrypto22"
                     isAbstract="false"
                     isVariableCaseSensitive="false"
                     superClass="com.infineon.cv.builderAll">
               </builder>
               <tool
                     id="com.infineon.cv.tool_Crypto22"
                     isAbstract="false"
                     superClass="com.infineon.cv.toolCrypto22">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <configuration
            artifactExtension="axf"
            cleanCommand="cleanall"
            errorParsers="com.infineon.cv.ARMErrorParser;"
            id="com.infineon.cv.configurationDefault"
            name="Default"
            parent="org.eclipse.cdt.build.core.prefbase.cfg">
      </configuration>
      <configuration
            artifactExtension="mk"
            id="com.infineon.cv.configurationIFXMake2Hades"
            name="Hades Makefile Converter">
      </configuration>
      <configuration
            artifactExtension="axf"
            cleanCommand="clean"
            errorParsers="com.infineon.cv.ARMErrorParser;"
            id="com.infineon.cv.configurationHadesCompile"
            name="Hades Compile">
      </configuration>
      <configuration
            artifactExtension="axf"
            cleanCommand="clean"
            errorParsers="com.infineon.cv.ARMErrorParser;"
            id="com.infineon.cv.configurationHadesRun"
            name="Hades Run">
      </configuration>
      <toolChain
            configurationEnvironmentSupplier="com.infineon.cv.env.EnvVar3_1"
            id="com.infineon.cv.toolChainRVDS31"
            isAbstract="true"
            isToolChainSupported="com.infineon.cv.toolchainsupport.RVDSToolChainSupport"
            name="RVDS 3.1">
      </toolChain>
      <toolChain
            configurationEnvironmentSupplier="com.infineon.cv.env.EnvVar2_2"
            id="com.infineon.cv.toolChainRVDS22"
            isAbstract="true"
            isToolChainSupported="com.infineon.cv.toolchainsupport.RVDSToolChainSupport"
            name="RVDS 2.2">
      </toolChain>
      <toolChain
            id="com.infineon.cv.toolChainHades"
            isAbstract="true"
            isToolChainSupported="com.infineon.cv.toolchainsupport.HadesToolChainSupport"
            name="Hades tool chain">
      </toolChain>
      <targetPlatform
            id="com.infineon.cv.targetPlatform"
            isAbstract="true"
            name="TP">
      </targetPlatform>
      <builder
            arguments="--jobs=2"
            autoBuildTarget="all"
            cleanBuildTarget="cleanall"
            command="gnumake"
            errorParsers="com.infineon.cv.ARMErrorParser"
            id="com.infineon.cv.builderAll"
            incrementalBuildTarget="all"
            isAbstract="true"
            isVariableCaseSensitive="false"
            name="Infineon all Builder"
            superClass="org.eclipse.cdt.build.core.settings.default.builder"
            supportsManagedBuild="false">
      </builder>
      <builder
            arguments="--jobs=2"
            autoBuildTarget="lib"
            cleanBuildTarget="cleanall"
            command="gnumake"
            errorParsers="com.infineon.cv.ARMErrorParser"
            id="com.infineon.cv.builderLib"
            incrementalBuildTarget="lib"
            isAbstract="true"
            isVariableCaseSensitive="false"
            name="Infineon Lib Builder"
            superClass="org.eclipse.cdt.build.core.settings.default.builder"
            supportsManagedBuild="false">
      </builder>
      <builder
            autoBuildTarget="hades_makefile"
            command="gnumake"
            id="com.infineon.cv.builderHadesMake"
            incrementalBuildTarget="hades_makefile"
            isAbstract="true"
            isVariableCaseSensitive="false"
            name="Hades Make Builder"
            superClass="org.eclipse.cdt.build.core.settings.default.builder"
            supportsManagedBuild="false">
      </builder>
      <builder
            arguments="-c -f hades.mk"
            autoBuildTarget="run"
            cleanBuildTarget="clean"
            command="clearmake"
            errorParsers="com.infineon.cv.ARMErrorParser"
            id="com.infineon.cv.builderHadesRun"
            incrementalBuildTarget="run"
            isAbstract="true"
            isVariableCaseSensitive="false"
            name="Hades Run Builder"
            superClass="org.eclipse.cdt.build.core.settings.default.builder"
            supportsManagedBuild="false">
      </builder>
      <builder
            arguments="-c -f hades.mk"
            autoBuildTarget="compile"
            cleanBuildTarget="clean"
            command="clearmake"
            errorParsers="com.infineon.cv.ARMErrorParser"
            id="com.infineon.cv.builderHadesCompile"
            incrementalBuildTarget="compile"
            isAbstract="true"
            isVariableCaseSensitive="false"
            name="Hades Compile Builder"
            superClass="org.eclipse.cdt.build.core.settings.default.builder"
            supportsManagedBuild="false">
      </builder>
      <tool
            id="com.infineon.cv.toolCVTC31"
            isAbstract="true"
            name="CV Testcase 3.1"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputTypeCVTC31"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <envVarBuildPath
               buildPathResolver="com.infineon.cv.misc.testBuildPath"
               pathType="buildpathInclude"
               variableList="ARMLIB">
         </envVarBuildPath>
         <option
               id="com.infineon.cv.optionCVTC31"
               isAbstract="true"
               name="Include paths CV TC RVDS3.1"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
            <listOptionValue
                  builtIn="false"
                  value="${toolDir}/IFX_Tools/ARM/RVDS/RVCT/Data/2.2/349/include/windows">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_lib/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_halix/common">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_halix/_inc">
            </listOptionValue>
         </option>
      </tool>
      <tool
            id="com.infineon.cv.toolCVTC22"
            isAbstract="true"
            name="CV Testcase 2.2"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputTypeCVTC22"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <envVarBuildPath
               buildPathResolver="com.infineon.cv.misc.testBuildPath"
               pathType="buildpathInclude"
               variableList="ARMLIB">
         </envVarBuildPath>
         <option
               id="com.infineon.cv.optionCVTC22"
               isAbstract="true"
               name="Include paths CV TC RVDS2.2"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
            <listOptionValue
                  builtIn="false"
                  value="${toolDir}/IFX_Tools/ARM/RVDS/RVCT/Data/2.2/349/include/windows">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_lib/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_halix/common">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_halix/_inc">
            </listOptionValue>
         </option>
      </tool>
      <tool
            id="com.infineon.cv.toolCVMem31"
            isAbstract="true"
            name="CV Memloader 3.1"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputTypeCVMem31"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <envVarBuildPath
               buildPathResolver="com.infineon.cv.misc.testBuildPath"
               pathType="buildpathInclude"
               variableList="ARMLIB">
         </envVarBuildPath>
         <option
               id="com.infineon.cv.optionCVMem31"
               isAbstract="true"
               name="Include paths CV Memloader RVDS3.1"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
            <listOptionValue
                  builtIn="true"
                  value="${toolDir}\IFX_Tools\ARM\RVDS\RVCT\Data\3.1\862\include\windows">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}\_inc">
            </listOptionValue>
         </option>
      </tool>
      <tool
            id="com.infineon.cv.toolBootcode31"
            isAbstract="true"
            name="Bootcode 3.1"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputTypeBootcode31"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <envVarBuildPath
               buildPathResolver="com.infineon.cv.misc.testBuildPath"
               pathType="buildpathInclude"
               variableList="ARMLIB">
         </envVarBuildPath>
         <option
               id="com.infineon.cv.optionMemloader31"
               isAbstract="true"
               name="Include paths Bootcode RVDS3.1"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
            <listOptionValue
                  builtIn="false"
                  value="${toolDir}\IFX_Tools\ARM\RVDS\RVCT\Data\3.1\862\include\windows">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${bootcodeProjectDir}/hal/inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${bootcodeProjectDir}/inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${bootcodeProjectDir}/drv_mem/inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${bootcodeProjectDir}/bs/inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${bootcodeProjectDir}/sc/inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${bootcodeProjectDir}/brl/inc">
            </listOptionValue>
         </option>
      </tool>
      <tool
            id="com.infineon.cv.toolHades"
            isAbstract="true"
            name="Hades tool"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputTypeHades"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <envVarBuildPath
               buildPathResolver="com.infineon.cv.misc.testBuildPath"
               pathType="buildpathInclude"
               variableList="ARMLIB">
         </envVarBuildPath>
         <option
               id="com.infineon.cv.optionHades"
               isAbstract="true"
               name="Include paths Hades"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
            <listOptionValue
                  builtIn="false"
                  value="${ARMINC}">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_lib/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_halix/common">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_halix/_inc">
            </listOptionValue>
         </option>
      </tool>
      <tool
            id="com.infineon.cv.toolURFET22"
            isAbstract="true"
            name="URFET 2.2"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputTypeURFET22"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <option
               id="com.infineon.cv.optionURFET22"
               isAbstract="false"
               name="Include paths URFET RVDS 2.2"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
            <listOptionValue
                  builtIn="false"
                  value="${toolDir}\IFX_Tools\ARM\RVDS\RVCT\Data\2.2\349\include\windows">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${URFETProjectDir}\S-Gold\S-GOLD_Family_Environment\_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${URFETProjectDir}\S-Gold\S-GOLD_Family_Environment\_lib\_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${URFETProjectDir}\S-Gold\S-GOLD_Family_Environment\_halix\common">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${URFETProjectDir}\S-Gold\S-GOLD_Family_Environment\_halix\_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${URFETProjectDir}\fmr_cv\fmr_xg223\FMR_HLD\api_sys_interface">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${URFETProjectDir}\fmr_cv\fmr_xg223\FMR_HLD">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${URFETProjectDir}\fmr_cv\fmr_xg223\FMR_LLD">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${URFETProjectDir}\fmr_cv\fmr_xg223\FMR_FW">
            </listOptionValue>
         </option>
      </tool>
      <tool
            id="com.infineon.cv.toolCrypto22"
            isAbstract="true"
            name="Crypto 2.2"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputTypeCrypto22"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <option
               id="com.infineon.cv.optionCrypto22"
               isAbstract="false"
               name="Include paths Crypto RVDS 2.2"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
            <listOptionValue
                  builtIn="false"
                  value="${toolDir}/IFX_Tools/ARM/RVDS/RVCT/Data/2.2/349/include/windows">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_lib/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_halix/common">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${testcaseProjectDir}/_halix/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${cryptoProjectDir}/_halix_CV/_inc">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${cryptoProjectDir}/Testcases/CRYPTO_test/common">
            </listOptionValue>
            <listOptionValue
                  builtIn="false"
                  value="${cryptoProjectDir}/Testcases/CRYPTO_test/CRYPTO_TC_All">
            </listOptionValue>
         </option>
      </tool>
      <tool
            id="com.infineon.cv.tool.hades.make"
            isAbstract="true"
            name="Hades Makefile Converter"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputType.hades.make"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <option
               id="com.infineon.cv.option.hades.make"
               isAbstract="true"
               name="Include paths Hades make"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
         </option>
      </tool>
      <tool
            id="com.infineon.cv.tool.hades.run"
            isAbstract="true"
            name="Hades Run"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputType.hades.run"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <option
               id="com.infineon.cv.option.hades.run"
               isAbstract="true"
               name="Include paths Hades run"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
         </option>
      </tool>
      <tool
            id="com.infineon.cv.tool.hades.compile"
            isAbstract="true"
            name="Hades Compile"
            superClass="org.eclipse.cdt.build.core.settings.holder">
         <inputType
               id="com.infineon.cv.inputType.hades.compile"
               sourceContentType="org.eclipse.cdt.core.cSource"
               superClass="org.eclipse.cdt.build.core.settings.holder.inType">
         </inputType>
         <option
               id="com.infineon.cv.option.hades.compile"
               isAbstract="true"
               name="Include paths Hades compile"
               resourceFilter="all"
               superClass="org.eclipse.cdt.build.core.settings.holder.incpaths"
               valueType="includePath">
         </option>
      </tool>
   </extension>
   <extension
         id="ARMErrorParser"
         name="ARM Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="com.infineon.cv.ARMErrorParser">
      </errorparser>
   </extension>
   <extension
         id="NatureLinkedRessources"
         name="Nature Linked Ressources"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.cdt.core.cnature">
      </requires-nature>
      <runtime>
         <run
               class="com.infineon.cv.NatureLinkedRessources">
         </run>
      </runtime>
      <options
            allowLinking="true">
      </options>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.infineon.cv.Naturecontribution">
         <menu
               icon="icons/intel.gif"
               id="com.infineon.cv.menuInfineon"
               label="Intel"
               path="additions">
            <separator
                  name="infineonMenuseparator">
            </separator>
         </menu>
         <action
               class="com.infineon.cv.ToggleNatureAction"
               enablesFor="10"
               id="com.infineon.cv.addRemoveNatureAction"
               label="Add libraries and include links"
               menubarPath="com.infineon.cv.menuInfineon/infineonMenuseparator">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.infineon.cv.addSymbols"
            nameFilter="makefile"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.infineon.cv.AddSymbolAction"
               enablesFor="+"
               id="com.infineon.cv.addSymbols"
               label="add Symbols from makefile"
               menubarPath="additions">
         </action>
         <visibility>
            <not>
               <pluginState
                     id="com.infineon.cv"
                     value="installed">
               </pluginState>
            </not>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.cdt.core.language">
      <language
            class="com.infineon.cv.misc.ARMLanguage"
            id="arm"
            name="ARM Extensions">
         <contentType
               id="org.eclipse.cdt.core.cSource">
         </contentType>
         <contentType
               id="org.eclipse.cdt.core.cHeader">
         </contentType>
      </language>
   </extension>
   <extension
         id="com.infineon.cv.preferencePage1"
         name="InfineonPreferencePage1"
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.infineon.cv.InfineonPreferencePage"
            id="com.infineon.cv.page1"
            name="Intel Preference">
      </page>
   </extension>
   <extension
         id="com.infineon.cv.page1.preferenceInitializer"
         name="InfineonPreferenceInitializer"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.infineon.cv.AbstractPreferenceInitializer1">
      </initializer>
   </extension>
<!--   
   <extension
         id="com.infineon.cv.editorAction"
         name="editorAction"
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.infineon.cv.editorContribution1"
            targetID="org.eclipse.cdt.ui.editor.asm.AsmEditor">
         <action
               class="com.infineon.cv.EditorActionDelegate1"
               id="com.infineon.cv.action1"
               label="label"
               state="false"
               style="push">
         </action>
      </editorContribution>
   </extension>

   <extension
         id="com.infineon.cv.TextHoverDoc"
         name="TextHoverDoc"
         point="org.eclipse.cdt.ui.textHovers">
      <hover
            activate="true"
            class="com.infineon.cv.doc.CEditorTextHover1"
            id="com.infineon.cv.hover1">
      </hover>
   </extension>
 -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.infineon.cv.editors.IFXMakefileEditor"
            default="true"
            filenames="makefile"
            icon="icons/makefile_icon.png"
            id="cvmakefileeditor"
            name="Makefile">
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.infineon.cv.launcher.LaunchIntel"
            id="com.infineon.cv.launchConfigurationType"
            modes="run, debug"
            name="Intel Testcase">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.infineon.cv.launchConfigurationType"
            icon="icons/intel.gif"
            id="com.infineon.cv.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.infineon.cv.launcher.IntelLaunchShortcut"
            icon="icons/intel.gif"
            id="com.infineon.cv.shortcut"
            label="Intel Tescase"
            modes="run, debug">
         <description
               description="Launch a Intel CV testcase"
               mode="com.infineon.cv.intelDescription">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.cdt.core.model.IBinary">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.cdt.core.model.ICProject">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isExecutable">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isCProject">
                        </test>
                        <and>
                           <instanceof
                                 value="org.eclipse.ui.IFileEditorInput">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <adapt
                                    type="org.eclipse.cdt.core.model.ICElement">
                              </adapt>
                           </adapt>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.infineon.cv.launcher.IntelLaunchConfigurationTabGroup"
            id="com.infineon.cv.launchConfigurationTabGroup"
            type="com.infineon.cv.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.infineon.cv.category"
            name="Intel">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.infineon.cv.category"
            class="com.infineon.cv.wizard.IntelWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/intel.gif"
            id="com.infineon.cv.wizard"
            name="Intel CV Testcase"
            project="true">
         <description>
            To create an Intel IMC CV Testcase
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.infineon.cv.wizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         id="product"
         name="toto"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.infineon.cv.product"
            name="Toto">
         <property
               name="appName"
               value="Bernard Toto">
         </property>
      </product>
   </extension>
</plugin>

